@model IEnumerable<PhoneBookApp.Web.Models.Person>

@{
    ViewData["Title"] = "People";
}

<h1>People list</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Add new person</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="width:120px;">
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th style="width:140px;">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="width:140px;">
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th style="width:110px;">
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th style="text-align: center; width:80px;";>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th style="width:120px;">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th style="width:50px;">
                Age
            </th>
            <th style="width:250px;"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="long-columns">
                @Html.DisplayFor(modelItem => item.City.Name)
            </td>
            <td class="long-columns">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="long-columns">
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td class="long-columns">
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td style="text-align: center";>
                @switch (item.Gender.GetValueOrDefault())
                {
                    //Show corresponding image for gender
                    case GenderChoice.Male:
                        <img src="~/Resources/male.png" style="height:24px;width:24px;" alt="@Html.DisplayFor(modelItem => item.Gender)"/>
                        break;
                    case GenderChoice.Female:
                        <img src="~/Resources/female.png" style="height:24px;width:24px;" alt="@Html.DisplayFor(modelItem => item.Gender)" />
                        break;
                }
            </td>
            <td class="long-columns">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @{
                    //Get age by subtracting birth date year from current year, show 0 if age < 0
                    var myAge = Math.Max(0, DateTime.Now.Year - item.BirthDate.Year);
                    @Html.DisplayFor(modelItem => myAge);
                }
            </td>
            <td class="crud-buttons">
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary" style="width:70px;">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary" style="width:70px;">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary" style="width:70px;">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
